!!! 5
- @lang = ( @item[:lang] || 'en').to_sym
- @description = @item[:description] || @site.config[:description][@lang].gsub(/\n/, '')
- @locale     = @lang == :ja ? 'ja_JP' : 'en_US'
- @alt_locale = @lang != :ja ? 'ja_JP' : 'en_US'
- @title = @item[:title] ? "#{@item[:title]} - #{@site.config[:title]}" : @site.config[:title]
- @og = (@site.config[:og]||{}).dup.merge(@item[:og]||{})
- @fb = (@site.config[:fb]||{}).dup.merge(@item[:fb]||{})
- @og[:locale]       = { '' => @locale, 'alternate' => @alt_locale }
- @og[:site_name]    = @site.config[:title]
- @og[:title]        ||=  @item[:title] || @site.config[:title]
- @og[:description]  ||= @description
- @og[:updated_time] ||= Time.now.nsec
- @article = { author: 'http://ngs.io/', published_time: 1351734903170, modified_time: Time.now.nsec }
-
%html{:lang => @lang, :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#"}
  %head
    %meta{:charset =>"utf-8"}
    %meta{:name =>"generator", :content =>"nanoc 3.1.7"}
    %meta{:name =>'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    %meta{:name =>"description", :content => @description }
    - if @item[:appid]
      %meta{:name =>"apple-itunes-app", :content => "app-id=#{@item[:appid]}" }
    %title= @title
    #{ og_tag(@og) }
    #{ og_tag(@fb) }
    #{ og_tag(@article, :article) }
    %link{:rel =>"stylesheet", :type => "text/css", :href =>"/stylesheets/bootstrap.css", :media =>"screen"}
    %link{:rel =>"stylesheet", :type => "text/css", :href =>"/stylesheets/screen.css", :media =>"screen"}
    %link{:rel =>"stylesheet", :type => "text/css", :href =>"//fonts.googleapis.com/css?family=Raleway:400,700", :media =>"screen"}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "//littleapps.s3.amazonaws.com/favicon.ico"}
    - %w{icon icon-72x72 icon-114x114 icon-144x144}.each do |size|
      %link{:rel =>"apple-touch-icon-precomposed", :type =>"image/png", :href =>"//littleapps.s3.amazonaws.com/apple-touch-#{size}-precomposed.png"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/bootstrap.js"}
    %script{:type => "text/javascript", :src => "/javascripts/app.js"}
  %body{ :class => @item[:layout] }
    = fb_root(@locale)
    #main
      = yield
    %footer
      .container
        - if @item[:alt_lang]
          %ul#locales
            - if @lang == :ja
              %li.en
                %a{:href => @item[:alt_lang]} English
              %li.ja
                %em 日本語
            - else
              %li.en
                %em English
              %li.ja
                %a{:href => @item[:alt_lang]} 日本語
        - if @item[:layout] == 'product'
          %p.brand
            = link_to('LittleApps Inc.', 'http://littleapps.jp/')
        %address
          Copyright &copy; #{Time.now.year}
          = link_to('LittleApps Inc.', 'http://littleapps.jp/')
          All rights reserved.
    = google_analytics('UA-30636846-2')
